/target/
.DS_Store
/.worktrees/

.project

.settings/org.eclipse.core.resources.prefs

.classpath

output/system/system.properties

*.prefs

*.prefs
*.out
ladder-core/target/
src-tauri/target/
ui/node_modules/
ui/dist/
/.superpowers/
